name: Build, Dockerize, Push & Deploy

on:
 push:
 branches: [ main ]
 workflow_dispatch: {}

env:
 IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/voting

jobs:
 build-backend:
 name: Build Backend (Maven)
 runs-on: ubuntu-latest
 outputs:
 backend-built: ${{ steps.backend_outcome.outcome }}
 steps:
 - name: Checkout
 uses: actions/checkout@v4

 - name: Set up Java
 uses: actions/setup-java@v4
 with:
 distribution: temurin
 java-version: '17'

 - name: Build with Maven
 id: mvn_build
 run: |
 mvn -v
 mvn -B clean package -DskipTests
 - name: echo backend status
 id: backend_outcome
 run: echo "done"


 - name: Restart webapp
 run: |
 az webapp restart --name ${{ secrets.AZURE_WEBAPP_NAME }} --resource-group ${{ secrets.AZURE_RESOURCE_GROUP }}
